{% extends "index.html" %}
{% block body %}
<script type="text/javascript" src="{{url_for('static',filename='content.js')}}"></script>
<link type="text/css" rel="stylesheet" href="{{url_for('static',filename='content.css' )}}">
<link href="https://fonts.googleapis.com/css?family=Lakki+Reddy&display=swap" rel="stylesheet"> 
<!-- <div class="hidden" style="display: none;">
  <h6 id="lstate">{{lstate}}</h6>
</div> -->
{% if course == 'tbrush' %}
<div class="course_content">
  <h2>How to brush tooth ?</h2><br>
  <div class="video">
    <h3>Video</h3><hr>
      <h4>Cartoon</h4>
      <iframe id="ytplayer" type="text/html" width="1000" height="500"
  src="https://www.youtube.com/embed/BapR9J86ZZw?autoplay=1&origin=http://example.com"
  frameborder="0"></iframe>
  <h4>Tutorial</h4>
      <iframe id="ytplayer" type="text/html" width="1000" height="500"
  src="https://www.youtube.com/embed/aOebfGGcjVw?autoplay=1&origin=http://example.com"
  frameborder="0"></iframe>
      <a href="https://www.youtube.com/watch?v=BapR9J86ZZw">
      <a href="https://www.youtube.com/watch?v=aOebfGGcjVw">
  </div>
</div>
  <div class="text">
    <h3>Text</h3><hr>
    <p>
The six steps below show you how to brush your child's teeth correctly (18 months to 6 years):
<ol>
<li>1.Smear a pea-sized amount of low-flouride toothpaste onto a soft children's toothbrush.</li>

  
<li>2.Sit the child in your lap, facing away from you, or stand behind taller children.  Tilt the child's head back against your body so you can see all the surfaces of the teeth.</li>

  
<li>.Angle the bristles of the toothbrush towards the gum.  Move the brush in gentle circles to clean the outer sides of the teeth and gums.</li>

  
<li>4.Rush in gentle circles on the inside of the teeth and gums.</li>

  
<li>5.Brush back and forward on the chewing surface of the teeth.</li>
  
<li>6.After brushing all the surfaces, encourage your child to spit out the toothpaste.</li> 
      </ol>
    </p>
  </div>
{% elif course == 'shoeknot' %}
<div class="course_content">
    <h2>How to tie a Shoe Knot ?</h2><br>
    <div class="video">
      <h3>Video</h3><hr>
        <h4>Cartoon</h4>
        <iframe id="ytplayer" type="text/html" width="1000" height="500"
    src="https://www.youtube.com/embed/BeSkBOYUlag?autoplay=1&origin=http://example.com"
    frameborder="0"></iframe>
    <h4>Tutorial</h4>
        <iframe id="ytplayer" type="text/html" width="1000" height="500"
    src="https://www.youtube.com/embed/VA4AACzlhe8?autoplay=1&origin=http://example.com"
    frameborder="0"></iframe>
        <!-- <a href="https://www.youtube.com/watch?v=BapR9J86ZZw">
        <a href="https://www.youtube.com/watch?v=aOebfGGcjVw"> -->
    </div>
    <div class="text">
      <h3>Text</h3><hr>
      <p>
        Using the "Bunny Ears" Technique
        <ol>
         <li>1 Place the shoes on a flat surface. Let the laces fall to either side of the shoe.</li>
          
        <li>2 Tie a basic knot. Take both laces and thread one lace over the other and then pull them tight. They should form a knot in the middle of the shoe.</li> 
          
        <li>3 Make a “bunny ear” loop with one of the laces. You should be holding the lace between your thumb and your first two fingers.
           The loop should be small and the “tail” should be long.</li> 
          
          <li>4 Make a “bunny ear” loop with the other lace. Hold the lace between your thumb and first two fingers. Make the “tail” long and the loop small. </li>
          
        <li>5 Tie a basic knot with the “bunny ear” loops. Place one loop over the other, then tuck it behind the other and thread it through the hole that is created.</li> 
          
        <li>6 Pull the “bunny ear” loops tight. Now your shoes are tied nicely. </li>
        </ol>
        
            Using the "Circle" Technique 
<ol>
            Using the "Circle" Technique 

                <li>1 Place the shoes on a flat surface. Let the laces fall to either side of the shoe.•If you’re demonstrating this technique to someone,
                 point the toe side of the shoe toward them so they can see your hand movements.</li>
                
                <li>2 Tie a basic knot. Take both laces and thread one lace over the other and then pull them tight. They should form a knot in the middle of the shoe.</li>
                
              <li>3 Tie another knot, but don’t tighten it. Keep the second knot loose. Notice there is a circle shape formed by the knot. 
                Hold the circle shape with your hand and lay it flat against the shoe.</li>
                
              <li>4 Thread one shoelace into the circle. Make sure it comes up through the circle and over to one side. 
                You can keep it loose, but make sure it does not slide all the way out of circle.</li>
                
              <li>5 Thread the other shoelace into the circle. It should come up through the circle and over to the other side of the shoe
                •You should now have two loops on either side of the knot in the center of the shoe.</li>
                
              <li>6 Pull the loops tight. Use your hands to pull the loops tight so they are secure. Now your shoes are tied.</li>
               
          
          </ol>
          </p>
    </div>
    <a href="/test?course={{course}}"><button type="button" id="gameplay" name="test">Game Play</button></a>
  </div>
<!-- <div class="course_content">
<h2>How to tie a Shoe Knot ?</h2>
<div class="text">
  <h3>Text</h3>
  <p>Some text</p>
</div>
<div class="video">
  <h3>Video</h3>
  <h4>Cartoon</h4>
    <iframe id="ytplayer" type="text/html" width="1000" height="500"
src="https://www.youtube.com/embed/BeSkBOYUlag?autoplay=1&origin=http://example.com"
frameborder="0"></iframe>
<h4>Tutorial</h4>
<iframe id="ytplayer" type="text/html" width="1000" height="500"
src="https://www.youtube.com/embed/VA4AACzlhe8?autoplay=1&origin=http://example.com"
frameborder="0"></iframe>
   
</div>
<button type="button" name="test">Take Test</button>
</div> -->
{% elif course == 'exercise' %}
<div class="course_content">
    <h2>Importance of Daily Exercise.</h2><br>
    <div class="video">
      <h3>Video</h3><hr>
        <h4>Cartoon</h4>
        <iframe id="ytplayer" type="text/html" width="1000" height="500"
    src="https://www.youtube.com/embed/61Qb05MuZ98?autoplay=1&origin=http://example.com"
    frameborder="0"></iframe>
    <h4>Tutorial</h4>
        <iframe id="ytplayer" type="text/html" width="1000" height="500"
    src="https://www.youtube.com/embed/BO0FV1vV8iM?autoplay=1&origin=http://example.com"
    frameborder="0"></iframe>
        <!-- <a href="https://www.youtube.com/watch?v=BapR9J86ZZw">
        <a href="https://www.youtube.com/watch?v=aOebfGGcjVw"> -->
    </div>
    <div class="text">
      <h3>Text</h3><hr>
      <p>EXERCISE FOR KIDS:
<ol>
          <li>1. Bench step-ups:
           Step right foot, then left, up onto a low bench, then step down. Switch your starting side with each set.</li>
          
          <li>2. Burpees: 
          From standing, squat down, place your hands on the ground, and jump your feet back into a plank position.
           Lower body to the floor for a push-up. Push back up to plank. Hop feet back in and stand up.</li>
          
          <li>3. Calf raises:
           From standing, lift up onto your tiptoes and hold, then lower.</li>
          
          <li>4. Cartwheels: 
          A blast! If anyone can’t pull them off, just try to approximate the move.</li>
          
        <li>5. Crab walks:
           Sit with your knees bent and feet flat on the ground; place palms on the ground behind you. 
          Lift hips a few inches and walk forward on your hands and feet like a crab, then walk backward.</li>
          
        <li>6. Crab toe touches: 
          From your crab position, lift left leg and right arm and try to touch your toes. Lower and repeat on the other side.</li>
          
        <li>7. Handstands against a wall:
           Make it a game and see who can hold it the longest.</li>
          
          <li>8. Hip bridges:
           Lie on your back with knees bent and feet flat on the ground; rest arms by sides. Press feet firmly down as you slowly lift your hips 
          off the ground; hold for a few counts, then lower.</li>
          
          
        <li>9. Inchworms:
           Bend forward at the hips and place hands on the ground with knees slightly bent, then walk them forward until you’re in a plank position. 
          Now walk feet in to meet your hands and stand back up.</li>
          
        <li>10. Planks:
           Lie on the ground on your belly, chest lifted off ground. Flex your feet (toes on the floor), engage legs, and lift body up, balancing on forearms and toes. Keep entire body strong and butt in line with shoulders and heels. Hold.</li>
          
          <li>11. Push-ups:
           Get into position and bend elbows and lower chest toward the ground, then push back up.</li>
          </ol>
          </p>
    </div>
        <a href="/test?course={{course}}"><button type="button" id="gameplay" name="test">Game Play</button></a>
  </div>
<!-- <div class="course_content">
<h2>Importance of Daily Exercise.</h2>
<div class="text">
  <h3>Text</h3>
  <p>Some text</p>
</div>
<div class="video">
  <h3>Video</h3>
    <h4>Cartoon</h4>
    <iframe id="ytplayer" type="text/html" width="1000" height="500"
    src="https://www.youtube.com/embed/oc4QS2USKmk?autoplay=1&origin=http://example.com"
    frameborder="0"></iframe>
    <h4>Tutorial</h4>
    <iframe id="ytplayer" type="text/html" width="1000" height="500"
    src="https://www.youtube.com/embed/aHVR2FnTpdk?autoplay=1&origin=http://example.com"
    frameborder="0"></iframe>
</div>
<button type="button" name="test">Take Test</button>
</div> -->
{% elif course == 'commper' %}
<div class="course_content">
    <h2>How to greet a person ?</h2><br>
    <div class="text">
      <h3>Text</h3><hr>
      <p>
          Easy Ways Parents Can Help Children Learn to Greet People 
          <ol> 

         <li> 1. Teach your child to look for the color of people’s eyes. Making eye contact is an important part of greetings. Young children may feel shy about looking
           into people’s eyes, and this makes the communication uneffective.</li>
           
          <li>2. Help her stick to small sound bites. Brief your child right before walking into a store, library, or any other place
           where your child may meet people, and go over some things she can say. Tell her that if anyone asks how she is doing, all she has to do is say, “Fine, thank you.”
           Giving your child some short and simple sound bites to work with can help her feel less pressured about coming up with things to say.
           This can also prevent them from giving too much information that might be a safety issue.</li>
          
          <li>3. Be supportive and encouraging. Review how things went with your child soon after he greets someone. 
          If he wasn’t able to muster a hello, then reassure your child that you know that he will do better next time.
           If your child feels discouraged or feels like he didn't do something right or made a mistake, encourage him to learn from this 
          and apply it to the next chance he has to greet someone. If things went well, tell him how proud you are of him for greeting someone so 
          Say something like, “You made that person feel so good and brightened their day with your voice".</li>
          
        <li>4. Teach your child to shake hands. Even kindergarteners can greet someone by shaking hands. 
          Do some role-playing to help your child practice shaking hands and have him greet you with a confident handshake. 
          Teach your child to face someone with his belly button and toes pointed toward that person when greeting that person.</li>
          
        <li>5. Tell her to stand. If your child is seated—say at a restaurant or on the sofa at home—and a visitor or an acquaintance 
          comes into the room or approaches him to say hello, teach him to stand up before saying his greetings.</li>
          
        <li>6. Make it fun for your child. Don’t forget to make this about having fun and connecting with people rather than
          presenting it as a chore kids have to do. Have a little fun while role-playing, and be sure to give them lots of praise.
          Explain to your child that when she greets people politely, they will reward her with compliments.</li>
        </ol>
          
      </p>
    </div>
    <a href="/test?course={{course}}"><button type="button" id="gameplay" name="test">Game Play</button></a>
  </div>
<!-- <div class="course_content">
<h2>How to greet a person ?</h2>
<div class="text">
  <h3>Text</h3>
  <p>Some text</p>
</div>
<div class="video">
  <h3>Video</h3>
   
    <h4>Cartoon</h4>
    <iframe id="ytplayer" type="text/html" width="1000" height="500"
    src="https://www.youtube.com/embed/61Qb05MuZ98?autoplay=1&origin=http://example.com"
    frameborder="0"></iframe>
    <h4>Tutorial</h4>
    <iframe id="ytplayer" type="text/html" width="1000" height="500"
    src="https://www.youtube.com/embed/BO0FV1vV8iM?autoplay=1&origin=http://example.com"
    frameborder="0"></iframe>
   
</div>
<button type="button" name="test">Take Test</button>
</div>
</div> -->
{% elif course == 'commgrp' %}
<div class="course_content">
  <div class="video">
    <h3>Video</h3><hr>
      <h4>Cartoon</h4>
      <iframe id="ytplayer" type="text/html" width="1000" height="500"
  src="https://www.youtube.com/embed/oc4QS2USKmk?autoplay=1&origin=http://example.com"
  frameborder="0"></iframe>
  <h4>Tutorial</h4>
      <iframe id="ytplayer" type="text/html" width="1000" height="500"
  src="https://www.youtube.com/embed/PWPQ5ogPXCc?autoplay=1&origin=http://example.com"
  frameborder="0"></iframe>
      <!-- <a href="https://www.youtube.com/watch?v=BapR9J86ZZw">
      <a href="https://www.youtube.com/watch?v=aOebfGGcjVw"> -->
  </div>
    <h2>How to communicate with a group of people ?</h2><br>
    <div class="text">
      <h3>Text</h3><hr>
      <p>
        <ol>
          <li>1. Encourage eye-contact:
            When talking to somebody, encourage your children to look into their eyes and talk for effective communication and to build confidence.
            Your toddlers may need practice every day to master this art. Try games like ‘staring contest,’ tell your children to talk to their soft toys, or tell
            you stories looking into your eyes.</li>
            
            
          </li>2. Teach them emotions:
            Let your children imitate a variety of emotions—joy, anger, disappointment, excitement, mischief, weirdness, nervousness, tiredness, terror, danger, etc.
            Play ‘identify the emotion’ game by making faces or holding placards of different smiley. This helps them differentiate emotions and express better; and
            not get confused when mingling with other kids or people. “To teach them emotions, it is important that you also communicate to your kids what makes you 
            and sad, so when they misbehave I make a straight face and tell them upfront that I am upset,” shares Anita, a proud mother of two boys.</li>
            
            
          <li>3. Make them communicate:
            Verbal or non-verbal, your children should learn to express, interact, and respond to social stimulus. 
            Help your children learn appropriate greetings and responses. Kids may need help or guidance to interact with others appropriately, to overcome shyness, 
            to manage a response, and express true feelings. Let your children know that they are free to talk, ask, question, and communicate their needs, desires, beliefs and 
            ideas. As parents and grandparents, talk to them every day and make generous use of words like ‘please,’ ‘let’s,’ ‘thank you,’ ‘common,’ etc.</li>
            
            
          <li>4. Give them the environment:
            A lonely child may have difficulty in interacting with the world. Give your children good company, exposure, and chances to interact with different types of people.
            Kids with social skill deficits often have trouble reading expressions and interacting socially. So activities that get them more comfortable with these 
            situations are a great idea. Playschools, hobby classes, playgrounds, sports activities, etc., will give them a chance to socialise. 
            When kids mingle with other kids or elders, they develop a range of interpersonal skills that become the foundation of their personality.</li>
            
            
            <li>5. Prepare them for higher social skills:
            A child who can communicate and express himself/herself fearlessly is armed to face the challenges when he/she grows up to tackle complex situations.
            Let your children maintain good communication channels, and pick up skills like negotiation, conflict resolution, non-verbal communication, assertiveness, 
            bargaining, public-speaking, etc. “My seven-year-old can write emails to his dad, I am glad they have discovered a new means to interact,” says Neha B, a homemaker.</li>
</ol>            
      </p>
    </div>
    <a href="/test?course={{course}}"><button type="button" id="gameplay" name="test">Game Play</button></a>
  </div>
<!-- <div class="course_content">
<h2>How to communicate with a group of people ?</h2>
<div class="text">
  <h3>Text</h3>
  <p>Some text</p>
</div>
<div class="video">
  <h3>Video</h3>
    <h4>Cartoon</h4>
    <iframe id="ytplayer" type="text/html" width="1000" height="500"
    src="https://www.youtube.com/embed/oc4QS2USKmk?autoplay=1&origin=http://example.com"
    frameborder="0"></iframe>
    <h4>Tutorial</h4>
    <iframe id="ytplayer" type="text/html" width="1000" height="500"
    src="https://www.youtube.com/embed/PWPQ5ogPXCc?autoplay=1&origin=http://example.com"
    frameborder="0"></iframe>
  </div>
</div> -->

    <!-- <a href="https://www.youtube.com/watch?v=oc4QS2USKmk">
    <a href="https://www.youtube.com/watch?v=PWPQ5ogPXCc">
   
</div>
<button type="button" name="test">Take Test</button>
{% endif %}
{% endblock %}
